*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Start Navbar */
nav{
    background-color: rgb(255, 105, 16);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.container-centered{
    width: 1000px;
    margin: 0 auto;
}

nav .navbar-inner{
    display: flex;
    justify-content: space-between;
    height: 60px;   
}

nav .navbar-inner .left-link{
    display: flex;
    align-items: center;
}

nav .navbar-inner .left-link ul{
    display: flex;
    list-style-type: none;  
}

nav .navbar-inner .left-link ul li{
    padding: 0 6px;
    font-size: 13px;
}

nav .navbar-inner .left-link ul li:hover{
    text-decoration: underline;
}

nav .navbar-inner .left-link ul li a,
nav .navbar-inner .right-link ul li a{
    color: white;
    text-decoration: none;
}

nav .navbar-inner .logo-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbar-inner .logo-image img{
    width: 15%;
}

nav .navbar-inner .right-link{
    display: flex;
    align-items: center;
}

nav .navbar-inner .right-link ul{
    display: flex;
    list-style-type: none;   
}

nav .navbar-inner .right-link ul li{
    padding: 0 4px;
}
/* End Navbar */

/* Start Main */
main section .row{
    display: flex;
    gap: 16px;
    padding-bottom: 40px;
}

main section .row .card{
    display: flex;
    flex-direction: column;
    width: 33%;
}

main section .row .card .card-image img{
    width: 100%;
}

main section .row .card .card-caption .brand,
main section .row .card .card-caption .discount-price,
main section .row .card .card-caption .discount-price span{
    font-size: 12px;
    color: gray;
}

main section .row .card .card-caption .item-description{
    font-size: 14px;
}
main section .row .card .card-caption .item-description a{
    color: rgb(43, 43, 43);
    text-decoration: none;
}

main section .row .card .card-caption .discount-price{
    color: red;
}

main section .row .card .card-caption .discount-price span{
    color: gray;
    text-decoration: line-through;
    padding-left: 8px;
}

/* Start Card position absolute element */
main section .row .card .card-image{
    position: relative;
}

main section .row .card .card-image .percentage-discount,
main section .row .card .card-image .label{
    position: absolute;
    bottom: 40px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    padding: 3px 8px;
}

main section .row .card .card-image .percentage-discount{ 
    left: 0;
    background-color: red;   
}

main section .row .card .card-image .label{
    left: 44px;
    background-color: green;
}

main section .row .card .card-image .like{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 8px 12px;
}

main section .row .card:nth-child(3) .card-image .label{
    left: 0;
}
/* End Card position absolute element */

/* Start Image hover styling */
main section .row .card .card-image .image-change{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

main section .row .card .card-image:hover .image-change{
    display: inline-block;
}

.like:hover{
    color: red;
}

/* End Image hover styling */
/* End Main */

/* Start Footer */

footer{
    background-color: rgb(25, 25, 25);
}

footer .footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

footer .footer-row .footer-left-link ul,
footer .footer-row .footer-right-link ul{
    display: flex;
    gap: 10px;
    list-style-type: none;   
}

footer .footer-row .footer-left-link strong{
    font-size: 12px;
    color: white;    
}

footer .footer-row .footer-right-link strong{
    color: white;
    font-size: 10px;
}

footer .footer-row .footer-left-link li{
    font-size: 10px;
}

footer .footer-row .footer-left-link li:hover{
    text-decoration: underline;
}

footer .footer-row ul a{
    color: white;
    text-decoration: none;
    padding-top: 10px;
}

footer .footer-row ul{
    margin-top: 6px;
}




